@{
    Layout = "";
}
@model Nop.Plugin.Tax.StrikeIron.Models.TaxStrikeIronModel
@using Nop.Web.Framework;
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <b>To use this service, you need to create a StrikeIron account and purchase its online tax service.</b><br/>
                    <b>To enable this provider, you'll need to:</b>
                    <br /><br />
                    Step 1. <a href="https://now.informatica.com/en_daas-free-trial-1" target="_blank">Create a StrikeIron account</a><br />
                    Step 2. Purchase the <a href="https://now.informatica.com/en_daas-other-pricing-2" target="_blank">service</a><br />
                    Step 3. Fill in your StrikeIron account details below
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.LicenseKey)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.LicenseKey)
                        @Html.ValidationMessageFor(model => model.LicenseKey)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                @T("Plugins.Tax.StrikeIron.TestingUsa.Title")
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.TestingUsaZip)
                    </div>
                    <div class="col-md-9">
                        <div class="input-group">
                            @Html.NopEditorFor(model => model.TestingUsaZip)
                            <div class="input-group-btn">
                                <input type="submit" name="testUsa" class="btn btn-info" value="@T("Plugins.Tax.StrikeIron.TestService.Button")"/>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.TestingUsaZip)
                        @if (!string.IsNullOrEmpty(Model.TestingUsaResult))
                        {
                            <span class="text-danger">@Model.TestingUsaResult</span>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                @T("Plugins.Tax.StrikeIron.TestingCanada.Title")
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.TestingCanadaProvinceCode)
                    </div>
                    <div class="col-md-9">
                        <div class="input-group">
                            @Html.NopEditorFor(model => model.TestingCanadaProvinceCode)
                            <div class="input-group-btn">
                                <input type="submit" name="testCanada" class="btn btn-info" value="@T("Plugins.Tax.StrikeIron.TestService.Button")"/>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.TestingCanadaProvinceCode)
                        @if (!string.IsNullOrEmpty(Model.TestingCanadaResult))
                        {
                            <span class="text-danger">@Model.TestingCanadaResult</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}